.wrapper {
	display: flex;
	height: 100vh;
	justify-content: space-around;
}

.box {
	width: 200px;
	height: 200px;
	background-color: blueviolet;
	color: white;
	font-size: 50px;
}
.box:nth-child(2) {
	align-self: center;
	order: 1;
}
.box:nth-child(3) {
	align-self: flex-end;
}
